.pokedexCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10%;
  max-width: 200px;
}

.pokedexCard:hover {
  opacity: 0.9;
  border: 2px solid gray;
}

.pokedexTypes {
  display: flex;
  text-align: left;
}


.pokemonImage {
  width: 150px;
  height: 150px;
}